.bs-icon {
  --bs-icon-size: .75rem;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-size: var(--bs-icon-size);
  width: calc(var(--bs-icon-size) * 2);
  height: calc(var(--bs-icon-size) * 2);
  color: var(--bs-primary);
}

.bs-icon-xs {
  --bs-icon-size: 1rem;
  width: calc(var(--bs-icon-size) * 1.5);
  height: calc(var(--bs-icon-size) * 1.5);
}

.bs-icon-sm {
  --bs-icon-size: 1rem;
}

.bs-icon-md {
  --bs-icon-size: 1.5rem;
}

.bs-icon-lg {
  --bs-icon-size: 2rem;
}

.bs-icon-xl {
  --bs-icon-size: 2.5rem;
}

.bs-icon.bs-icon-primary {
  color: var(--bs-white);
  background: var(--bs-primary);
}

.bs-icon.bs-icon-primary-light {
  color: var(--bs-primary);
  background: rgba(var(--bs-primary-rgb), .2);
}

.bs-icon.bs-icon-semi-white {
  color: var(--bs-primary);
  background: rgba(255, 255, 255, .5);
}

.bs-icon.bs-icon-rounded {
  border-radius: .5rem;
}

.bs-icon.bs-icon-circle {
  border-radius: 50%;
}

.pic-2 {
  transition: 10%;
  height: 675px;
  border-radius: 15px;
  box-shadow: 0px 17px 95px rgb(20,9,9);
  position: absolute;
  transition: transform 1s ease;
}

.pic-1 {
  transition: 10%;
  height: 675px;
  border-radius: 15px;
  box-shadow: 0px 17px 95px rgb(20,9,9);
}

.simple-slider {
  display: flex;
  width: 1000px;
  margin: 0px 0 20px 20px;
}

.btn-xl {
}

.btn-xl {
  margin-bottom: 40px;
  color: var(--bs-light);
  background-color: var(--bs-orange);
}

.btn {
}

.contact-btn {
  margin-bottom: 20px;
}

.about-header {
  float: right;
}

.icon-about {
  justify-content: center;
  padding: 6px 0 0 6px;
}

.work-portfolio {
  width: 1000px;
  height: 200px;
  display: table-row;
}

.p-img {
  background-color: rgba(244,213,213,0.25);
  color: var(--bs-black);
  font-weight: 300;
  font-family: fantasy;
}

div {
}

.h-title {
  background-color: rgba(0,0,0,0.5);
  color: var(--bs-pink);
}

.h-title-1 {
  background-color: rgba(0,0,0,0.24);
  font-family: Berlin Sans FB;
}

.rounded-circle img-fluid {
  width: 400px;
  height: auto;
}

p {
}

#container {
  position: relative;
}

